# Python In-class Exercise

# 1. Write a program to check whether an year entered by an user is leap year or not

In [1]:
# to check whether a given year is leap year or not
in_year = int(input("Enter a year: ")) # take input from user
 
if (in_year % 4) == 0:
    if (in_year % 100) == 0: 
        if (in_year % 400) == 0: # condition for century year
            print( str(in_year)+" is a leap year")
        else:
            print( str(in_year)+" is not a leap year")
    else:
        print( str(in_year)+" is a leap year")
else:
    print( str(in_year)+" is not a leap year")

Enter a year: 2020
2020 is a leap year

 # 2. Take a string containing punctuation marks as an input from user and write a program to remove all the  punctuation marks from a string

In [3]:
# define all the punctuations you could thik of
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~''' 
input_str = input("Enter a string: ")

# remove punctuation from the string
no_punct = ""
for char in input_str:
    if char not in punctuations:
        no_punct = no_punct + char

# display the unpunctuated string
print(no_punct)

Enter a string: science !!
science

# 3. Take two separate numbers as input from the user and Write a program to swap 2 numbers without using temporary variable

In [4]:
num1 = int(input("Enter the Number-1 = ")) #taking number 1 and number 2 from user
num2 = int(input("Enter the Number-2 = ")) #taking number 1 and number 2 from user


num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2

print("After swapping :\n Number-1 =",num1, "\n Number-2 =",num2)

Enter the Number-1 = 254
Enter the Number-2 = 1254
After swapping :
 Number-1 = 1254
 Number-2 = 254

 # 4. Write a program to print product of following variables
 integer = 10 
 string = "15"

In [6]:
integer = 10

string = "15"

str_num = int(string)

product = integer * str_num

print(product)

150

# 5. Write a program to print following pattern
a
b c
d e f
g h i j
k l m n o
p q r s t u

In [7]:
number = 6
Ascii_value = 97
for i in range(0, number):
    for j in range(0, i+1):
        character  = chr(Ascii_value)
        print(character, end=' ')
        Ascii_value+=1
    print(" ")

a
b c
d e f
g h i j
k l m n o
p q r s t u

 # 6. Write a program to print tables from 2 to n, where n is provided by user

In [8]:
range_num = int(input('Enter a number in range: '))

for n in range(2 , range_num + 1):
    for i in range(1,11):
        print(n, ' X ', i, ' = ', n*i)
    print("\n")

Enter a number in range: 10
2  X  1  =  2
2  X  2  =  4
2  X  3  =  6
2  X  4  =  8
2  X  5  =  10
2  X  6  =  12
2  X  7  =  14
2  X  8  =  16
2  X  9  =  18
2  X  10  =  20


3  X  1  =  3
3  X  2  =  6
3  X  3  =  9
3  X  4  =  12
3  X  5  =  15
3  X  6  =  18
3  X  7  =  21
3  X  8  =  24
3  X  9  =  27
3  X  10  =  30


4  X  1  =  4
4  X  2  =  8
4  X  3  =  12
4  X  4  =  16
4  X  5  =  20
4  X  6  =  24
4  X  7  =  28
4  X  8  =  32
4  X  9  =  36
4  X  10  =  40


5  X  1  =  5
5  X  2  =  10
5  X  3  =  15
5  X  4  =  20
5  X  5  =  25
5  X  6  =  30
5  X  7  =  35
5  X  8  =  40
5  X  9  =  45
5  X  10  =  50


6  X  1  =  6
6  X  2  =  12
6  X  3  =  18
6  X  4  =  24
6  X  5  =  30
6  X  6  =  36
6  X  7  =  42
6  X  8  =  48
6  X  9  =  54
6  X  10  =  60


7  X  1  =  7
7  X  2  =  14
7  X  3  =  21
7  X  4  =  28
7  X  5  =  35
7  X  6  =  42
7  X  7  =  49
7  X  8  =  56
7  X  9  =  63
7  X  10  =  70


8  X  1  =  8
8  X  2  =  16
8  X  3  =  24
8  X  4  =  32
8  X  5  =  40
8  X  6  =  48
8  X  7  =  56
8  X  8  =  64
8  X  9  =  72
8  X  10  =  80


9  X  1  =  9
9  X  2  =  18
9  X  3  =  27
9  X  4  =  36
9  X  5  =  45
9  X  6  =  54
9  X  7  =  63
9  X  8  =  72
9  X  9  =  81
9  X  10  =  90


10  X  1  =  10
10  X  2  =  20
10  X  3  =  30
10  X  4  =  40
10  X  5  =  50
10  X  6  =  60
10  X  7  =  70
10  X  8  =  80
10  X  9  =  90
10  X  10  =  100

 # 7. Write a program to read height (in centimeters) from user and then convert it to feet and inches

In [9]:
height = int(input("Enter the height in centimeters:"))

# write the conversion formulae
inches = 0.3937*height
feet = 0.0328*height
print("The length in inches", round(inches,2))
print("The length in feet", round(feet,2))

Enter the height in centimeters:10
The length in inches 3.94
The length in feet 0.33

 # 8. Write a program to print following pattern
 
                                                 *
                                                * * 
                                                * * *
                                                * *
                                                *

In [10]:
# first print the 3 rows in the pattern using for loop
for i in range (0, 3):
    for j in range(0, i+1):
        print("*", end=' ')
    print("\r")                 # '\r' is used to print on the next row

# print the last two rows in the pattern using for loop
for i in range(3, 0, -1):
    for j in range(0, i-1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* *
*

# 9. Below list contains age and name of five students. Convert the list into a dictionary such that the name is taken as key and the age before their name is taken as thier respective value in the dictionary

students = [26,'Jon',34,'Roger',13,'Jessica',24,'Monica',65,'Ashton'] Output: {'Jon':26, 'Roger':34, 'Jessica':13, 'Monica':24, 'Ashton':65}

In [11]:
students = [26,'Jon',34,'Roger',13,'Jessica',24,'Monica',65,'Ashton']

# create an empty dictionary
d={}    

# iterate a loop such that value of i will be a difference of 2. i.e i = 0,2,4,6,8
for i in range(0,len(students),2):     
    d[students[i+1]] = students[i]      # lst[i] will give all the elements at indices 0,2,4,6,8. 
                              # lst[i+1] will give all the elements at indices 1,3,5,7,9.

# print the output dictionary
print(d)

{'Jon': 26, 'Roger': 34, 'Jessica': 13, 'Monica': 24, 'Ashton': 65}

# 10. Write a program to check whether two strings, taken from user, are anagram or not

In [12]:
s1 = str(input("Enter a string : "))
s2 = str(input("Enter a string : "))

if(sorted(s1.lower())== sorted(s2.lower())): 
    print("The strings are anagrams")  
else: 
    print("The strings are not anagrams")

Enter a string : hi
Enter a string : ih
The strings are anagrams